<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kino</title>
   <script src="https://www.youtube.com/iframe_api"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <header>
    <a href="/">
      <h1>KinoNu.dk</h1>
    </a>
    <nav>
        <% if (isLoggedIn) { %>
          <a href="/">Film i biograffen</a>
          <a href="upcomingMovies">Kommende film</a>
          <a href="findMovie">Find film</a>
          <a href="myProfile">Min Profil</a>
          <a style="color: red;" href="/signout">Log ud</a>
        <% 
        } else {
          %> 
          <a href="login">Login</a>
          <a href="/registerPage.html">Opret bruger</a>
          <a href="/">Film i biograffen</a>
          <a href="upcomingMovies">Kommende film</a>
          <a href="findMovie">Find film</a>
          
       <% } %>
      </nav>
    <!-- <i class="fas fa-user"></i>-->
  </header>

  <div id="searchMovie">
  <input type="search" id="searchInput" placeholder="Søg film.." oninput="fetchMovieSuggestions(this.value)">
  <ul id="suggestions"></ul>
</div>
</body>
<script src="/client/JS/findMovie.js"></script>
<link rel="stylesheet" type="text/css" href="/client/CSS/style.css">