<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Min profil</title>
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="../../client/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="/client/JS/client.js"></script>

  </head>
  
  <header>
    <a href="/">
      <h1 style="font-family: FontAwesome;">FilmDB.dk</h1>
    </a>
    <nav>
      <a href="/">Populære film</a>
      <a href="/upcomingMovies">Kommende film</a>
      <a href="/findMovie">Find film</a>
      <a href="/myProfile">Min side</a>
      <a href="/myAccount">Min profil</a>
      <a href="/movieChat">Chat</a>
      <a style="color: red;" href="/signout">Log ud</a>
    </nav>
    </header>
    <body>

      <div class="updateProfile">
        <div class="glass-frame">
            <h1 style="font-size: smaller; text-align: inherit; color: #666; margin: revert;">Opdater profil</h1>
    
            <form id="updateProfileForm">
                <div class="input-field-myAccount" style="margin: 30px;">
                    <label for="username">Ændre brugernavn</label>
                    <input type="text" id="username" style="text-align: center;" placeholder="<%= userName %>">
                </div>
    
                <div class="input-field-myAccount">
                    <label for="email">Ændre email</label>
                    <input type="email" id="email" style="text-align: center;" placeholder="<%= email %>">
                </div>
    
                <div class="input-field-myAccount">
                    <label for="password">Skift adgangskode</label>
                    <input type="password" id="password" style="text-align: center;">
                </div>
                <button type="submit">Opdater profil</button>

            </form>
        </div>
    </div>


    <script>

const updateProfileForm = document.getElementById("updateProfileForm")


      updateProfileForm.addEventListener("submit", async (event) => {
        event.preventDefault()

      const password = document.getElementById("password").value
      const email = document.getElementById("email").value
      const username = document.getElementById("username").value

        const data = {
          username,
          email,
          password
        }

        try {
        const response = await fetch(`/updateProfile`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        });
        if (response.ok) {
          const responseData = await response.json()
          localStorage.setItem("user_name", responseData.username)
          localStorage.setItem("access_token", responseData.token)
            toastr.success("Opdateret");
        } else {
            toastr.error("Det indtastede brugernavn eller e-mail eksisterer allerede.");
        }
    } catch (error) {
        console.log(error);
    }
});

    </script>
        
    </body>