<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Min profil</title>
  <script src="https://www.youtube.com/iframe_api"></script>
  <link rel="stylesheet" href="../../client/CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <script type="module" src="/client/JS/toastr-config.js"></script>

</head>

<header>
  <a href="/">
    <h1>KinoNu.dk</h1>
  </a>
  <nav>
    <a href="/">Film i biograffen</a>
    <a href="/upcomingMovies">Kommende film</a>
    <a href="/findMovie">Find film</a>
    <a href="/myProfile">Min side</a>
    <a style="color: red;" href="/signout">Log ud</a>
  </nav>

</header>

<body>
  <h1>Velkommen, <%= data.username %></h1>

  <div id="savedMoviesContainer" style="padding: 150px;">
    <h1 style="text-align: inherit;">Favoritter</h1>
    <div class="movieList" id="movieListContainer">

    </div>
  </div>

  <div id="watchedMoviesContainer" style="padding: 150px;">
    <h1 style="text-align: inherit;">Set </h1>
    <div class="movieList" id="movieListContainer">

    </div>
  </div>
  
<script> 

console.log('<%= data.username %>')
function displaySavedMovies() {
  const API_KEY = '<%= apiKey %>';
  const test = JSON.parse('<%- results %>');
  const movieListContainer = document.getElementById("movieListContainer");

  for (const item of test) {
    const movieId = item.movie_id;
    const url = `https://api.themoviedb.org/3/movie/${movieId}?api_key=${API_KEY}&language=de`;

    fetch(url)
      .then(response => response.json())
      .then(data => {
        const movieItem = document.createElement("div");
        movieItem.className = "movieItem";

        movieItem.innerHTML = `
          <img class="moviePoster" src="https://image.tmdb.org/t/p/w200${data.poster_path}" alt="${data.title} Poster">
          <div>
            <span class="movieTitle">${data.title}</span><br>
            <div class="movieItemBtns">
              <button style="border: none;" onclick="deleteMovie(${data.id}, '${data.title}')">
                <i class="fa-solid fa-trash" style="color: #ea0000; border: none;"></i>
              
              </button>

            </div>
          </div>
        `;

        movieListContainer.appendChild(movieItem);
      });
  }
}


function deleteMovie(movieId, movieName){
console.log(movieId, movieName)
fetch(`/deleteMovie/${movieId}`, {
method: 'POST'

})
.then(response => {
  if (response.ok){
    //window.location.reload()
    console.log("test")
    toastr.success(`${movieName} er blevet slettet fra din favoritliste.`)
  } else {
    toastr.error("Der opstod en fejl")
  } 
})
.catch(error => {
  console.log(error)
})

}

    displaySavedMovies();
  </script>
</body>
</html>